.Header {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.Header h1 {
  color: var(--Denim-15, #0c2340);
  text-align: center;

  /* 120% / 32px Bold */
  font-family: Aesop;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
}

.logo path {
  fill: #fb534a;
}
