.SingleApplication {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 5px 16px 0px rgba(173, 200, 215, 0.25);
  border-radius: 10px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .SingleApplication {
    grid-template-columns: repeat(6, 1fr);
  }
}

.cell {
  /* text-align: left;
  padding: 0 15px; */
  display: flex;
  width: 180px;
  padding-bottom: 3px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  color: var(--Denim-15, #0c2340);
  font-family: Aesop;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.email {
  width: 270px;
  color: var(--Denim-45, #246ac1);
  font-family: Aesop;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
}

.cell sub {
  display: block;
  font-size: 0.8rem;
  color: #999;
  margin-bottom: 5px;
}
